.imagen1 {
    width: 550px;
    margin-left: 40px;
}

.iniciotexto {
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
}

h3 {
    margin-left: 40px;
}

.contenedor{
    margin-left: 40px;
    text-align: justify;
}

h4 {
    margin-left: 40px;
}

ol {
    margin-left: 15px;
}